name: Build and Push Docker Image to ECR
 
on:
  workflow_dispatch:
    inputs:
      env_id:
        required: true
        type: string
 
env:
  AWS_REGION: us-east-1
  IMAGE_TAG: latest
 
jobs:
  build-and-push:
    runs-on: ubuntu-latest
 
    permissions:
      id-token: write
      contents: read
 
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
 
      # Set ECR repo name and IAM role based on the environment
      - name: Set ECR Repo Name and IAM Role
        run: |
          case "${{ inputs.env_id }}" in
            dev)
              echo "ECR_REPO_NAME=repo-jn-dev-wordpress" >> $GITHUB_ENV
              echo "ROLE=arn:aws:iam::381492133980:role/GitHubAction-AssumeRoleWithAction." >> $GITHUB_ENV
              ;;
          esac
 
      - name: Configure AWS Credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ env.ROLE }}
          aws-region: ${{ env.AWS_REGION }}
 
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
 
      - name: Build Docker Image
        run: |
          docker build -t $ECR_REPO_NAME:$IMAGE_TAG .
 
      - name: Tag and Push Docker Image
        run: |
          ECR_URI="${{ steps.login-ecr.outputs.registry }}/$ECR_REPO_NAME"
          docker tag $ECR_REPO_NAME:$IMAGE_TAG $ECR_URI:$IMAGE_TAG
          docker push $ECR_URI:$IMAGE_TAG
          echo "Docker image pushed to ECR: $ECR_URI:$IMAGE_TAG"

 
